
.project-main-title{
    font-size: 56px;
    font-weight: 400;
}

@import "../../_globalColor";

.projects-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 20px;
    column-gap: 100px;
    width: 100%;
}

.projects-card{
    display: flex;
    flex-direction: column;
    height: 400px;
    min-width: 70%;
}


.projects-card-title{
    border-bottom: 1px solid $subTitle;
    color: $subTitle;
    display: inline-block;
    font-size: 22px;
    min-width: 320px;
    padding-bottom: 10px;
    text-align: center;
}

.projects-card-img {
    border-radius: 8px;
    height: 250px;
    object-fit: cover;
    max-width: 100%;  
    transition: all 600ms;
}

.projects-card-img:hover{
    transform: scale(1.1, 1.1) !important;
}

.projects-card-footer{
    align-items: center;
    column-gap: 30px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icon-button-project i {
  color: $textColorDark;
  cursor: pointer;
  font-size: 1.6rem;
  width: 2.6rem;
  transition: 0.2s ease-in;
}

.buttonProjectsSee {
    background-color: $buttonColor;
    border: solid 1px $buttonColor;
    color: $textColorDark;
    font-weight: 700;
    width: max-content;
    padding: 13px 22px;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
  }

.buttonProjectsSee:hover {
    background-color: $darkBoxShadow2;
    color: $buttonColor;
    transition: all 0.3s ease 0s;
    transform: translateY(-3px);
}

.buttonProjectsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button-project i:hover {
    opacity: 0.7;
}

@media (max-width: 1232px){
    .projects-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px){
    .projects-cards {
        grid-template-columns: 1fr;
    }
    .main-button {
        font-size: 15px;
        padding: 12px 18px;
        margin-right: 0px;
      }
}
  @media (max-width: 320px) {
    .main-button {
      font-size: 12px;
    }
  }
  