---
import Layout from '@/layouts/Layout.astro';

import AboutMe from '@/components/AboutMe.astro';
import Briefcase from '@/components/icons/Briefcase.astro';
import CodeIcon from '@/components/icons/Code.astro';
import Experience from '@/components/Experience.astro';
import ProfileCheck from '@/components/icons/ProfileCheck.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import Hero from '@/components/Hero.astro';
import TitleSection from '@/components/TitleSection.astro';
import Skills from '@/components/Skills.astro';
---

<Layout
  title="Lautaro's Porfolio - Web developer with 3 years of experience"
  description="Hire Lautaro to create your web or mobile application. Web Developer. Specialized in creating unique applications."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        Work experience
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyects">
      <TitleSection>
        <CodeIcon class="size-7" />
        Skills
      </TitleSection>
      <Skills />
    </SectionContainer>

    <SectionContainer id="about-me">
      <TitleSection>
        <ProfileCheck class="size-8" />
        About me
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
