// button colors
$buttonColor: #55198b;
$topButtonHover: #000;

//text colors
$subTitle: #d1d7dd;
$textColorDark: #ffffff;

//  background colors
$darkBackground: #171c28;

//  theme box shadows
$darkBoxShadow2: #ffffff;

// borders
$progressBarBackground: rgb(243, 239, 239);

// hovers
$headerHoverBG: #f4f4f4;
$contactDetailHoverTS: #b5b5b5;

// misc backgrounds
$progressBarSpanBG: #aaa5ff;
$iconBackground: #333;
$appHeaderBG: #282c34;

// misc colors
$skillsColor: #645beb;
$appLink: #09d3ac;

// social media icons
$faceBook: #3b5998;
$linkedin: #0e76a8;
$github: #333;
$google: #ea4335;
$whatsapp: #25D366
